* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

/* body {
  background: #fff url('../../assets/bg.png') no-repeat;
  background-size:cover ;
  -webkit-font-smoothing: antialiased !important;
} */

.container-dashboard {
  margin: 80px auto 0;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-dashboard
 {
  width: 100%;
  background: #FFF;
  margin-top: 50px;
  border-radius: 10px;
  padding: 30px;
}

.content-dashboard
  form {
  display: flex;
  flex-direction: column;
}

.content-dashboard
  form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

.content-dashboard
 form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.content-dashboard
 button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f0545b;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.content-dashboard
 button.green {
  background: #246F08;
}

.content-dashboard
 button.blue {
  background: #17E7F4;
}

.content-dashboard
 button.green:hover {
  background: #2a4d0a;
}

.content-dashboard
 button.blue:hover {
  background: rgb(8, 90, 111);
}

ul.card-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns:1fr 1fr ;
  grid-gap: 20px;
  margin-bottom: 30px;
}

ul.card-list li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

ul.card-list li header {
  width: 100%;
  height: 220px;
  background-size: cover;
  border-radius: 4px;
}

ul.card-list li strong {
  margin-top: 10px;
  font-size: 24px;
  color: #444;
}

.line {
  padding-right: 25px;
  border-left: 6px solid #246F08;
  height: 500px;
}

.content-dashboard input {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.textItem {
  padding-left: 10%;
  cursor: 'pointer' ;
}

.textItem:hover {
  background: #246F08;
}