@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* css from Header */


.header {
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  /* font-size: 19px; */
  font-size: 1.3vw;
  /* line-height: 32px; */
  width: 100%;
  /* height: 50px; */
  height: 8vh;
  background-color: #17E7F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  text-decoration: none;
  color: inherit;
  margin-right: 5vh;
}

.logo-img {
  margin-left: 10vh;
}

/* css from Hero */

.hero {
  margin-top: 8vh;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-div {
  clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: auto;
  width: 60%;
  height: 100%;
  background-color: rgba(16, 17, 16, 0.51);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text {
  margin-left: 15%;
}

.hero-title {
  font-weight: 700;
  /* font-size: 45px; */
  font-size: 3vw;
  margin-bottom: 6%;
}

.hero-subtitle {
  font-weight: 700;
  /* font-size: 35px; */
  font-size: 2.3vw;
  line-height: 41.02px;
}

.closing-bar {
  width: 100%;
  height: 16px;
  background-color: #C4C4C4;
}

/* css from AboutUs */

.about-us {
  width: 100%;
  /* height: 594px; */
  padding: 10vh 0vh;
  background-color: rgba(229, 229, 229, 0.38);;
}

.about-us-title {
  text-align: center;
  font-weight: 500;
  /* font-size: 45px; */
  font-size: 3vw;
  color: #190D49;
}

.about-us-div {
  width: 159px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.539261);
  margin: auto;
  margin-top: 22px;
}

.about-us-paragraph {
  /* width: 779px; */
  width: 50%;
  /* height: 282px; */
  margin: auto;
  text-align: center;
  /* margin-top: 54px; */
  margin-top: 8vh;
  font-weight: 500;
  /* font-size: 30px; */
  font-size: 2.0vw;
}

/* css from Benefits */

.benefits {
  width: 100%;
  padding: 10vh 0vh;
}

.benefits-title {
  text-align: center;
  /* margin-top: 80px; */
  font-size: 3vw;
  color: #190D49;
}

.benefits-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.benefit-item {
  text-align: center;
  padding: 0px 30px;
  margin-top: 100px;
  width: 250px;
  height: 250px;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  color: #190D49;
  margin-top: 20px;
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
}

/* css from JoinUs */

.join-us-section {
  display: flex;
  flex-direction: column;
}

.join-us-img {
  width: 100%;
  height: 72vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}

.join-us-title {
  margin-bottom: 10vh;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}

.join-us-subtitle-box {
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-us-detail-subtitle {
  background-color: white;
  width: 4px;
  height: 102px;
  margin-right: 40px;

}

.join-us-subtitle {
  width: 621px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.join-us-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 92px 0;
  background-color: #e5e5e563;
}

.join-us-partners {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.farmers {
  width: 300px;
  height: 350px;
  margin: 0 60px;
}

.farmers h3 {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 13px;
}

.farmers p {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
}

.farmers img {
  /* width: 248px;
  height: 246px;
  border-radius: 40px;
  background-color: #E5E5E5; */
  display: block;
  margin: auto;
}

.join-us-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 60px;
}

.join-us-button {
  width: 286px;
  height: 50px;
  background-color: #17E7F4;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  border: 0px;
}

/* css from team */

.team-section {
  padding-top: 73px;
  padding-bottom: 50px;
}

.team-title {
  text-align: center;
  font-weight: 500;
  font-size: 45px;
}

.team-cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 76px;
}

.team-card {
  text-align: center;
}

.team-card img {
  margin-bottom: 40px;
}

.team-card h3 {
  margin-bottom: 19px;
  font-size: 25px;
  font-weight: 500;
}

.team-card h4 {
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: 400;
}

.team-card a {
  padding: 0 8px;
}

/* css from footer */

.footer {
  width: 100%;
  height: 51px;
  background-color: rgba(196, 196, 196, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  font-weight: 700;
  font-size: 20px;
}
